@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'SVRP';
	src: url(./assets/font/a_RubricaXtCn-Regular.ttf);
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	line-height: 24px;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* width */
::-webkit-scrollbar {
	width: 0.1vh;
	height: 0.2vh;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.6);;
}